<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <div role="main">
      <h2>Welcome to <%= login.name %></h2>
      <form method="post" action="/">
       <P>
        <input type="text" name="msg" size="50">
        <input type="submit" value="submit">
       </P>
      </form>
      <hr>
      <P>
        <table style="width:95%">
          <% for(var i in collection){ %>
            <%- include('data_item',{val:collection[i]}) %>
          <% } %>
        </table>
      </P>
      <P>
        <% if(pagination.page > 1){ %>
          <span><a href="/<%= pagination.page - 1 %>">&lt;&lt; prev</a></span>
        <% }else{ %>
          <span>&lt;&lt; prev</span>
        <% } %>
        |
        <% for(var i = 1; i < pagination.pageCount; i++;)%>
          <span>i</span>
        <% } %>
        |
        <% if(pagination.page < pagination.pageCount ){ %>
          <span><a href="/<%= pagination.page + 1 %>">Next &gt;&gt;</a></span>
        <% }else{ %>
          <span>Next &gt;&gt;</span>
        <% } %>
      </P>
    </div>
  </body>
</html>
