<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <div role="main">
      <h2>Welcome to <%= login.name %></h2>
      <form method="post" action="/">
       <P>
        <input type="text" name="msg" size="50">
        <input type="submit" value="submit">
       </P>
      </form>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary logout" data-toggle="modal" data-target="#exampleModal">
        Log Out
      </button>
      <hr>
      <P>
        <table style="width:95%">
          <% for(var i in collection){ %>
            <%- include('data_item',{val:collection[i]}) %>
          <% } %>
        </table>
      </P>
      <P>
        <% if(pagination.page > 1){ %>
          <span><a href="/<%= pagination.page - 1 %>">&lt;&lt; prev</a></span>
        <% }else{ %>
          <span>&lt;&lt; prev</span>
        <% } %>
        |
        <% var span = "<span style='padding-right:5px;'><a href='/1'>1</a></span>"; %>
        <% for(var i=2; i < pagination.pageCount + 1; i++){ %>
           <% span += "<span style='padding-right:5px;'><a href='/"+i+"'>"+i+"</a></span>"  %>
        <% } %>
        <%- span %>
        |
        <% if(pagination.page < pagination.pageCount ){ %>
          <span><a href="/<%= pagination.page + 1 %>">Next &gt;&gt;</a></span>
        <% }else{ %>
          <span>Next &gt;&gt;</span>
        <% } %>
      </P>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you will log out?
          </div>
          <div class="modal-footer">
          <form method="get" action="/logout">
            <button type="submit">Yes</button>
          </form>
            /*<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='/logout'">Yes</button>*/
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
