<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <div role="main">
      <p><%- content %></p>
      <form method="post" action="/users">
        <table>
          <tr>
            <th>NAME</th>
            <td><input type="text" name="name" value="<%= form.name %>"></td>
          </tr>
          <tr>
            <th>PASSWORD</th>
            <td><input type="password" name="password" value="<%= form.password %>"></td>
          </tr>
          <tr>
            <th></th>
            <td><input type="submit" value="Login"></td>
          </tr>
         </table>
      </form>
      <p>
        <a href="/">&lt;&lt; Back to Top</a>
        <a href="/users/add"">Create account&gt;&gt;</a>
      </p>
    </div>
  </body>
</html>
